@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    margin: 0px;
    padding: 0px;

    overflow-x: hidden;
}

header {
    background-color: #33333511;

    width: 100vw;
    height: 100px;

    overflow-y: hidden;

    background-image: url(../images/Top\ div.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 15px;

    box-shadow: inset 0px -8px 0px 0px red;
}

.top_div {
    display: flex;
    flex-direction: row;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.top_div > h1 {
    margin-top: 25px;
    margin-left: 15px;

    font-size: 1.4em;

    font-family: 'Cinzel', serif;
}

.top_div > h2 {
    margin-top: 55px;
    margin-left: -300px;

    font-size: 10pt;

    font-family: 'Cinzel', serif;
}

header > section > img {
    margin-left: 60px;
    margin-top: 0px;
}

.rigth_div {
    background-color: #4242435e;

    width: 110vh;
    height: 50px;

    position: relative;

    left: 110vh;
    bottom: 100px;

    display: flex;

    flex-direction: row;

    border-bottom-left-radius: 50px;
}

.rigth_div > a > img {
    width: 35px;

    position: absolute;

    top: 8px;
    left: 300px;
}

.rigth_div > p:hover {
    text-decoration: underline;
}

.rigth_div > a > img:hover {
    width: 32px;

    padding: -10px 10px 10px 2px;
}

.rigth_div > a > .YouTube {
    left: 340px
}

.rigth_div > a > .disocrd {
    left: 380px
}

.left_div {
    position: relative;

    left: 68vw;
    bottom: 60px;

    display: flex;
    flex-direction: row;
}

.left_div > p {
    width: 10px;
}

.left_div > a {
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    text-decoration: none;

    padding: 0px 10px 1px 15px;
}

.left_div > a:hover {
    color: #464646;

    text-decoration: underline;
}

/*Main*/

.sec_vidio {
    height: 900px;

    background-color: black;

    box-shadow: inset 0px 0px 13px 3px red;
}

#video01 {
    width: 102vw;

    background-color: black;

    padding-bottom: 15px;
    margin-bottom: -5px;
    
}

.normal {

    padding-top: 0px;

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

    background-color: #333335;

    color: white;

    background-image: url(../images/Fundo\ rota\ principal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.normal > h1 {
    font-size: 3em;

    padding: 50px;

    text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.541);
}

.normal > h2 {
    padding-bottom: 15px;

    text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.541);
}

.normal > h3 {
    padding-bottom: 50px;

    text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.541);
}

.normal > p {
    max-width: 750px;

    font-weight: 600;
    
    margin: auto;

    padding-bottom: 50PX;
}

/*Footer*/

footer {
    text-align: center;

    background-color: rgb(20, 20, 20);

    box-shadow: 0px 0px 20px 2px red;

    color: white;

    margin-top: 0px;

    padding-top: 10px;
    padding-bottom: 10px;

    bottom: 0;
}

footer > p {
    padding: 2px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
}

footer > p > a:hover {
    text-decoration: underline;
}
