@charset "UTF-8";

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    margin: 0px;
    padding: 0px;

    overflow-x: hidden;
}

header {
    background-color: #33333511;

    width: 100vw;
    height: 100px;

    overflow-y: hidden;

    background-image: url(../images/Top\ div.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 15px;

    box-shadow: inset 0px -8px 0px 0px red;
}

.top_div {
    display: flex;
    flex-direction: row;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.top_div > h1 {
    margin-top: 25px;
    margin-left: 15px;

    font-size: 1.4em;

    font-family: 'Cinzel', serif;
}

.top_div > h2 {
    margin-top: 55px;
    margin-left: -300px;

    font-size: 10pt;

    font-family: 'Cinzel', serif;
}

header > section > img {
    margin-left: 60px;
    margin-top: 0px;
}

.rigth_div {
    background-color: #4242435e;

    width: 110vh;
    height: 50px;

    position: relative;

    left: 110vh;
    bottom: 100px;

    display: flex;

    flex-direction: row;

    border-bottom-left-radius: 50px;
}

.rigth_div > a > img {
    width: 35px;

    position: absolute;

    top: 8px;
    left: 300px;
}

.rigth_div > p:hover {
    text-decoration: underline;
}

.rigth_div > a > img:hover {
    width: 32px;

    padding: -10px 10px 10px 2px;
}

.rigth_div > a > .YouTube {
    left: 340px
}

.rigth_div > a > .disocrd {
    left: 380px
}

.left_div {
    position: relative;

    left: 68vw;
    bottom: 60px;

    display: flex;
    flex-direction: row;
}

.left_div > p {
    width: 10px;
}

.left_div > a {
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    text-decoration: none;

    padding: 0px 10px 1px 15px;
}

.left_div > a:hover {
    color: #464646;

    text-decoration: underline;
}

/*Main*/

main {
    text-align: center;
    padding-top: 20%;

    background-image: url(../images/Foto\ de\ fundo.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    width: 100vw;
    height: 50vh;
}

input#valor {
    width: 350px;
    height: 30px;

    background-color: rgba(0, 0, 0, 0.434);
    
    outline: none;
    border: white;
    
    color: white;
    
    position: relative;

    text-indent: 10px;
}

input#valor::placeholder {
    color: white;
    text-align: center;
}

input#pesquisar {
    width: 100px;
    height: 25px;

    margin-top: 15px;

    background-color: rgba(0, 0, 0, 0.386);
    color: white;

    border: none;

    cursor: pointer;
}

#bemvindo {
    color: white;
    
    position: absolute;
    top: 20%;
    left: 36%;

    font-family: Arial, Helvetica, sans-serif;

    display: none;
}

#img2 {
    display: none;

    position: absolute;
    top: 32%;
    left: 30%;
}

/*Footer*/

footer {
    position: absolute;

    bottom: 0;

    width: 100%;

    box-shadow: 0px 0px 20px 2px red;

    background-color: rgb(20, 20, 20);
    color: #FFF;   
    text-align: center;
}

footer > p {
    padding: 2px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
}

footer > p > a:hover {
    text-decoration: underline;
}
